.page {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.pageTitle {
  grid-column: 1/-1;
  justify-self: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  padding: 0.4rem;
  border-radius: 5rem;
  color: #fff;
}
.app {
  min-height: 100vh;
  background-color: #39445a;
  color: #fff;
  padding-top: 12rem;
  padding-bottom: 9rem;
}
.genre {
  padding: 2rem  6rem;
}
@media only screen and (max-width: 37.5em) {
  /* .app {
    padding-top: 12rem;
  } */
  /* .pageTitle{
    font-size: 3rem;
  } */
  .genre {
    padding: 2rem  4rem;
  }
}
.MuiSvgIcon-root {
  height: 2em;
}

